.search-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    /* border: 2px solid red; */
    /* padding: 1rem 2rem; */
  }
  .search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #ddd;
    box-shadow: 1px 6px 10px #ddd ;
    width: 300px;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    background-color:#fff;
  }
  .search input {
    border: none;
    outline: none;
    width: 290px;
  }

  
  @media(min-width:300px) and (max-width:800px){
    .search{
        width: 200px;
    }
    .search input{
        width: 190px;
    }
}